---
import { withBase } from "../utils/path";

const adminPath = withBase("/admin/index.html");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${adminPath}`} />
    <title>Redirecting to CMS</title>
    <script define:vars={{ adminPath }}>
      window.location.replace(adminPath);
    </script>
  </head>
  <body>
    <p>Redirecting to <a href={adminPath}>{adminPath}</a>...</p>
  </body>
</html>
