---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
}

const { href, target = "_blank", rel = "noopener noreferrer", ...rest } = Astro.props;
---

<a href={href} target={target} rel={rel} {...rest}>
  <slot />
</a>
