---
import ExternalLink from "./ExternalLink.astro";
import { withBase } from "../utils/path";

const footerLinks = [
  [{ label: "Home", href: withBase("/") }],
  [
    { label: "Mission Statement", href: withBase("/about/mission-statement") },
    { label: "Leadership", href: withBase("/about/leadership") },
    { label: "About Us", href: withBase("/about") }
  ],
  [
    { label: "Take Action", href: withBase("/action-items") },
    { label: "Resources", href: withBase("/resources") },
    { label: "Events", href: withBase("/events") }
  ],
  [{ label: "On The Ground", href: withBase("/on-the-ground") }]
];
---

<footer class="site-footer">
  <div class="container site-footer__inner">
    <div class="site-footer__actions">
      <ExternalLink href="https://secure.actblue.com/donate/indivisiblenc1435907037" class="button button--yellow">Donate</ExternalLink>
      <a href={withBase("/get-involved")} class="button button--blue">Join Our Mailing List</a>
    </div>

    <div class="site-footer__social">
      <ExternalLink
        href="https://www.facebook.com"
        class="facebook-link site-footer__facebook"
        aria-label="Visit Nature Coast Indivisible on Facebook"
      >
        <img src={withBase("/images/facebook.svg")} alt="" aria-hidden="true" />
      </ExternalLink>
      <a href="mailto:naturecoastindivisible@gmail.com" class="site-footer__email">naturecoastindivisible@gmail.com</a>
    </div>

    <nav aria-label="Footer navigation">
      <div class="site-footer__links">
        {
          footerLinks.map((column) => (
            <ul class="site-footer__link-column">
              {column.map((link) => <li><a href={link.href}>{link.label}</a></li>)}
            </ul>
          ))
        }
      </div>
    </nav>

    <a href={withBase("/")} class="site-footer__brand" aria-label="Nature Coast Indivisible home">
      <img src={withBase("/images/NCI-logo.svg")} alt="Nature Coast Indivisible" />
    </a>

    <p class="site-footer__copyright">
      &copy; 2026 - Nature Coast Indivisible, All Rights Reserved
      <span>
        Website by <ExternalLink href="https://sapersteindesign.com">Saperstein Creative</ExternalLink>
      </span>
    </p>
  </div>
</footer>
